:root { 
--gray_900_02:#1b1f23; 
--gray_600:#76797b; 
--gray_400:#b2b3b4; 
--orange_A200:#d6a243; 
--gray_500:#a6a6a6; 
--blue_gray_400:#86888a; 
--gray_900_cc:#1b1f23cc; 
--gray_900:#202124; 
--gray_900_01:#282828; 
--light_blue_700:#0383d8; 
--red_300:#ed6a5e; 
--red_400:#ce5347; 
--orange_300:#f6be4f; 
--green_600:#29a869; 
--gray_300:#e2e3e4; 
--green_500:#58a942; 
--green_400:#62c554; 
--gray_100:#f1f3f4; 
--gray_100_16:#f2f3f416; 
--black_900:#000000; 
--gray_100_01:#f2f3f4; 
--gray_900_e5:#1b1f23e5; 
--blue_gray_900:#35363a; 
--white_A700:#ffffff; 
}